---
import LayoutGlobal from "../layouts/LayoutGlobal.astro";
import { sanityClient } from "sanity:client"
import { imageQuery } from "../lib/sanity-queries"
import { Image } from "astro:assets";
import { urlFor } from "../lib/sanity-client"
import SanityImage from "../components/SanityImage.astro";

const homePageSettings = await sanityClient.fetch(`*[_type == "pageHome"][0]{
	title,
	heroImage{${imageQuery}},
}`)
console.log(homePageSettings)
---
<LayoutGlobal
	title="Home"
	description="New York City digital design director specializing in e-commerce for fashion & luxury brands."
>
	<section class="hero">
		<h1>{homePageSettings.title}</h1>
		<SanityImage 
			image={homePageSettings.heroImage}
			sizes="100vw"
			layout="full-width"
			priority
		/>
	</section>
</LayoutGlobal>

<style>
	.hero {
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}
</style>