---
const { label, url, newTab, icon } = Astro.props;
const IconElement = icon ? icon : null;
---
<a href={url} class="button" target={newTab ? "_blank" : "_self"}>
  {icon && <IconElement />}
  {label}
</a>

<style>
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-3xs);

    svg {
      width: 1.0em;
    }
  }
</style>