---
---
<div class="project-card">
  TEST
</div>

<style>
  .project-card {
    /* background-color: var(--color-foreground); */
    background: linear-gradient(0deg, var(--color-background), var(--color-foreground));
    color: var(--color-background);
    border-radius: var(--radius-lg);
    padding: var(--page-margin);
    aspect-ratio: 3 / 4;
  }
</style>