---
---
<div class="projects-menu">
  <button>Projects</button>
</div>

<style>
  .projects-menu {
    position: fixed;
    bottom: var(--page-margin);
    left: 50%;
    translate: -50% 0;
  }
</style>